<mat-card class="card">
  <mat-card-content>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td><mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="model.firstName" placeholder="First Name">
        </mat-form-field></td>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="model.lastName" placeholder="Last Name">
          </mat-form-field>
        </td>
      </tr>
    </table>

    <mat-card-actions>
      <button (click)="post()" mat-raised-button color="primary">Save Changes</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
