<mat-card class="card">
  <mat-card-content>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td><mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="message.owner" placeholder="Name">
        </mat-form-field></td>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="message.text" placeholder="Message">
          </mat-form-field>
        </td>
      </tr>
    </table>

    <mat-card-actions>
      <button (click)="post()" color="primary">POST</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
